<div class="confirm-modal">
  <div class="confirm-modal_header">
    <h3>{{ title() | translate}}</h3>
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
      (click)="dialogRef.close()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="confirm-modal_body">
    <p>{{ message() | translate: messageParams()}}</p>
  </div>
  <div class="confirm-modal_footer">
    <button
      class="cancel-button me-3"
      mat-raised-button
      (click)="dialogRef.close('close')">
      {{ cancelText() | translate}}
    </button>
    <button
      class="confirm-button"
      mat-raised-button
      color="primary"
      (click)="closeModal.emit()"
    >
      {{ confirmText() | translate}}
    </button>
  </div>
</div>
