.heroe-detail {
  &_basic-info {
    img {
      width: 230px;
      aspect-ratio: auto;
    }
  }

  .heroe-work {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .heroe-detail {
    &_basic-info {
      img {
        width: 100%;
        max-height: 500px;
        object-fit: fill;
      }
    }
  }
}
